<div class="auth-layout">
  <section class="auth-layout__left">
    <div class="auth-layout__brand">
      <div class="brand-header">
        <div class="brand-icon">
          <img src="/ic_logo2.png" alt="TukunTech Logo">
        </div>
        <h1>TukunTech</h1>
      </div>

      <h2>{{ 'auth.brandHeadline' | translate }}</h2>

      <p>{{ 'auth.brandDescription' | translate }}</p>
    </div>
  </section>

  <section class="auth-layout__right">
    <ng-content></ng-content>
  </section>
</div>
